################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assets/XR.meta
/Assets/XR
/Assets/Resources.meta
/Assets/Resources
/Assets/Oculus.meta
/Assets/Oculus
/Assets/MovementsSDK.meta
/Assets/MovementsSDK
/.vs/metaperson-quest-movement-sdk-sample/v15/Server/sqlite3
/UserSettings
/Temp
/obj/Debug
/Logs
/Library
/VoiceSDK.Telemetry.csproj
/VoiceSDK.Runtime.csproj
/VoiceSDK.Editor.csproj
/VoiceSDK.Dictation.Runtime.csproj
/VoiceSDK.Dictation.Editor.csproj
/Oculus.VR.Scripts.Editor.csproj
/Oculus.VR.Editor.csproj
/Oculus.VR.csproj
/Oculus.Spatializer.Editor.csproj
/Oculus.Spatializer.csproj
/Oculus.Platform.Editor.csproj
/Oculus.Platform.csproj
/Oculus.LipSync.Editor.csproj
/Oculus.LipSync.csproj
/Oculus.Interaction.Samples.Editor.csproj
/Oculus.Interaction.OVR.Samples.csproj
/Oculus.Interaction.OVR.Editor.csproj
/Oculus.Interaction.OVR.csproj
/Oculus.Interaction.InterfaceSupport.csproj
/Oculus.Interaction.Editor.csproj
/Oculus.Interaction.csproj
/Oculus.AudioManager.Utils.Editor.csproj
/Oculus.AudioManager.csproj
/Oculus.AudioManager.Audio.Editor.csproj
/metaperson-quest-movement-sdk-sample.sln
/Meta.XR.BuildingBlocks.Editor.csproj
/Meta.XR.BuildingBlocks.csproj
/Meta.WitAi.TTS.Samples.csproj
/Meta.WitAi.TTS.Editor.csproj
/Meta.WitAi.TTS.csproj
/Meta.WitAI.Lib.Editor.csproj
/Meta.WitAi.Lib.csproj
/Meta.WitAi.Editor.csproj
/Meta.WitAi.csproj
/Meta.WitAi.Conduit.Editor.csproj
/Meta.WitAi.Conduit.csproj
/Meta.VoiceSDK.Mic.WebGL.csproj
/Meta.VoiceSDK.Mic.Other.csproj
/Meta.VoiceSDK.Mic.Common.csproj
/Meta.Voice.VSDKHub.Editor.csproj
/Meta.Voice.Samples.TTSVoices.csproj
/Meta.Voice.Samples.ShapesConduit.csproj
/Meta.Voice.Samples.Shapes.csproj
/Meta.Voice.Samples.LiveUnderstanding.csproj
/Meta.Voice.Samples.LightTraits.csproj
/Meta.Voice.Samples.Dictation.csproj
/Meta.Voice.Samples.Chess.csproj
/Meta.Voice.Samples.BuiltInTimer.csproj
/Meta.Voice.Hub.Runtime.csproj
/Meta.Voice.Hub.Editor.csproj
/Meta.Movement.Editor.csproj
/Meta.Movement.csproj
/Facebook.Wit.Dictation.Editor.csproj
/Facebook.Wit.Dictation.csproj
/AssistantCoreSDKRuntime.csproj
/AssistantCoreSDKEditor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vsconfig
